<h2>Create new tag:</h2>

<br>

<%= form_for @tag do |t| %>
   
    Name:
    <br>
    <%= t.text_field :name %>
    <br>
    Slow: <%= t.text_field :slow %>
    <br>
    Acoustic: <%= t.text_field :acoustic %>
    <br>
    <%= t.submit "Create tag" %>

<% end %>