<!DOCTYPE html>
<html>
<head>
  <title>Nebula</title>

  <!-- LINKING BOOTSTRAP IS BAD -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>

    
</head>
<body>


	<%= link_to image_tag("logo.jpg", size: "80"), root_path %> <h1>Welcome to Nebula V 0.02 </h1>
    
    <h2 class = "subtitle">Last updated: Oct 15, 2016</h2>

    <div class = "header">
        <%= link_to "New track", new_track_path %>
        <%= link_to "New tag", new_tag_path %><br>
        <%= link_to "New track tag", new_tracktag_path %>
        <%= link_to "Explore the Map", map_path %>
    </div>

	<%= yield %>

	<br>
	<br>
</body>
</html>
